<div class="row">
	<div class="large-9 columns">
	<div id="container">
		<h1>ネガティブ評価は改善のきっかけ！(仮) ver0.1beta</h1>
		<p>
			<input type="text" id="query" size=30 />
			<select id="pn" name="pn">
				<option value="posi">ポジティブな評価</option>
				<option value="nega" selected="selected">ネガティブな評価</option>
			</select>
			<input type="button" class="button" value="ついーとまいにんぐ！" onclick="setJsondata();" />
		</p>
		<div id="loading"><%= image_tag 'turningIndicator.gif', :width=>'64px', :height=>'64px', :alt=>'Loading...'%></div>
		
		<div id="chart"></div>
		<div id="key"><ul id="output"></ul></div>
	</div>
    <%= javascript_tag do %>
    	$(function() {

			// Enterが押下されたらsetJsondata()を実行する
			$("#query").keydown(function(evnt) {
				if(evnt.keyCode === 13) {
					setJsondata();
				}
			});	
		
			// プルダウンメニューが変更されたらrenderChart()を実行する
			$("select").change(function() {
				var pn = $('#pn').val();
				$("#chart").empty();
				$("#output").empty();
				renderChart(jsondata, pn);
			});
		});
    	
    	
    	function setJsondata() {
    		// フォームから値を取得
			var query = $('#query').val();
			var token = $('#token').val();
			var secret = $('#secret').val();
			var pn = $('#pn').val();
			// 二回目以降で前回の結果が残らないように空にする
			$("#chart").empty();
			$("#output").empty();
			$("#basic_info").empty();
			// ロード中のくるくるを表示する
			$("#loading").show(); 
			// JSONを手に入れる
			$.getJSON("http://133.242.171.135/evaluate_tweets.py?q="+query+"&token=<%=current_user.access_token%>&secret=<%=current_user.access_token_secret%>", function(data){
    			// あれ？グローバル変数でjsondata宣言してたはずだけどどこいった？？
    			var jsondata = data;
    			// ロード中のくるくるを消す
            	$("#loading").fadeOut();
            	// jsondataとポジネガを引数にD3で描画
            	renderChart(jsondata, pn);
            	// JSONからツイート何件、日時、とかを表示する部分
	           	$("#basic_info").append(
            		jsondata.basic_info.tweets_num + 
            		"件のツイートから評価語を含む" + 
            		jsondata.basic_info.evaluate_num + 
            		"件のツイートを分析<br />（取得期間 " + 
            		jsondata.basic_info.oldest_date + 
            		" から " + jsondata.basic_info.latest_date + "）");
			});
		}
	<% end %>
	
	</div>
</div>

