<div class="row">
	<div class="large-9 columns">
		<div class="panel">
			<h1>みんなのデータ分析</h1>
			<p>
			テキストマイニング・統計分析などを手軽に使うことのできるアプリケーションです。
			</p>
		</div>		
		<!--
		<div class="callout panel">
			<p>パターン・ランゲージは、建築家アレグザンダーが考案した問題解決のフレームワークです。<br/>
			Context, Problem, Solution, Consequenceの三つに課題解決のプロセスを分けることで<br/>
			似たような状況(Context)・問題(Problem)に陥ったときに誰でもパターン・ランゲージを<br/>
			用いれば、その状況・問題に解決策(Solution)を提案し、その結果(Consequence)を示すことができます。<br/><br/>
			そんなパターン・ランゲージを使うことで、「統計は苦手」「数字に弱い」<br/>
			という方でもテキストマイニング分析や統計分析を行える仕組みが<span class="label alert">みんなのデータ分析</span>です。		
			</p>
		</div>
		-->
	</div>
	<div class="large-3 columns">
	
	
		<ul class="pricing-table">
			<li class="bullet-item"><p>Twitterでログインする</p></li>
			<li class="bullet-item"><%= link_to image_tag("twitter_icon4.jpg"), user_omniauth_authorize_path(:twitter), :size=>'200x200' %></li>
		</ul>
	
	</div>
</div>