<div class="row">
	<div class="large-12 columns">
	<div id="container">
<h3>追跡ワード</h3>

<table>
  <thead>
    <tr>
      <th>あなたが追跡しているワード</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.queue %></td>
        <td><%= link_to '編集', edit_tracker_path(tracker) %></td>
        <td><%= link_to '削除', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい追跡ワードを登録する', new_tracker_path %>

</div>
</div>
</div>